// Directions: Open node_modules/bootstrap/scss/variables.scss for reference. View changes on theming-kit.html. 
// npm run compile:sass

// MY CUSTOM THEME COLOURS

$bluegrey-dark: #000a12;
$bluegrey-mid: #0b181d;
$bluegrey-light: #1c262a;

$teal: #64ffda;
$teal-light: #9effff;

$purple-dark: #3f1dcb;
$purple-mid: #7c4dff;
$purple-light: #b47cff;

$pink: #ff4572;

// WHITE AND GRAY COLOURS
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// OVERRIDES


$primary: $purple-light;
$secondary: $bluegrey-mid;
$dark: $bluegrey-dark;
$light: $teal-light;
$danger: $gray-600;

$tooltip-bg: $purple-mid;
$body-bg: $secondary;
$gradient: linear-gradient(to right bottom, $teal, $purple-mid);

// $tooltip-font-size:                 $font-size-sm;
// $tooltip-max-width:                 200px;
// $tooltip-color:                     $white;
// $tooltip-bg:                        $black;
// $tooltip-border-radius:             $border-radius;
// $tooltip-opacity:                   .9;
// $tooltip-padding-y:                 $spacer * .25;
// $tooltip-padding-x:                 $spacer * .5;
// $tooltip-margin:                    0;

// $tooltip-arrow-width:               .8rem;
// $tooltip-arrow-height:              .4rem;
// $tooltip-arrow-color:               $tooltip-bg;








// IMPORT BOOTSTRAP 5
@import "../node_modules/bootstrap/scss/bootstrap.scss";
