@use '../custom' as *;

.display-5 {
  margin: 1.2rem;
  font-family: 'Fredoka One', cursive;
  color: $primary;
}

.display-7 {
  margin: 1rem;
  font-family: 'Fredoka One', cursive;
  color: $light;
}

